.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
__pycache__
.DS_Store
*/*.aux
*/*.pdf
*/*.ps
*/*.log
*/*.dvi
*/*.tex~
*/*.fdb_latexmk
*/*.fls
.vscode
.lintr
*.code-workspace
pg.ipynb
.env
gitignore_files/**
*.synctex.gz
.Rhistory
.cursor
.RData
.RData.lock
debug.R
*.ipynb
*.csv
*.html
main.py
.DS_Store
latex
pyrightconfig.json
experiments/raw_output
