.ipynb_checkpoints/
__pycache__
.DS_Store
*/*.aux
*/*.ps
*/*.log
*/*.dvi
*/*.tex~
*/*.fdb_latexmk
*/*.fls
.vscode
.lintr
*.code-workspace
.env
gitignore_files/**
*.synctex.gz
.Rhistory
.cursor
.RData
.RData.lock
*.ipynb
*.csv
*.html
/*.R
/*.pdf
/*.py
latex
robustTailTableLatex
pyrightconfig.json
experiments/raw_output
